html {
    height: 100%;
    visibility: hidden;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #eae8e1;
}

/* FOR THE SIDEBAR -----------------------------*/
@media only screen and (max-width: 500px) {
    .container_left {
        width: 80px !important;
    }
    .container_right {
        margin-left: 80px !important;
    }
    #sidebar {
        left: -20px !important;
    }
}


.container_left {
    height: 100%; 
    flex: 1;
    width: 100px; 
    background-color:#1d6968;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    z-index: 2;
}

.menu_categories_icons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.menu_categories:hover{
    background-color: #125756;
}


/* BODY ----------------------------------------------------------------------------------*/

.container_right{
    margin: 0 0 0 100px;
    flex: 4;
    background-color: #eae8e1;
    overflow-y: scroll;
    display: flex;
}

.banner{
    min-width: 100%;
    height: 20%;
    background-image: url(images/banner.avif);
    background-size: cover;
}

.banner_text{
    font-family: 'Dosis', sans-serif;
    font-size: 2.5vw;
    color: #ffffff;
    display: block;
    padding: 50px 0 100px 0px;
    margin: 0 0 0 5vw;
    text-align: left;
}

.homeHeader1{
    font-family: 'Dosis', sans-serif;
    font-size: 5.5vw;
    color: #ffffff;
    display: block;
    padding: 100px 0 100px 0px;
    margin: 0 0 0 5vw;
    text-align: left;
}

.homeHeader2{
    font-family: 'Dosis', sans-serif;
    font-size: calc(10px + 2vw);
    color: #000000;
    padding: 0;
    margin: 15px 0 0 0;
}

.h2_reversecolor{
    color: #ffffff;
}

.p_reversecolor{
    color: #ffffff;
}

.homeHeader3{
    font-family: 'Dosis', sans-serif;
    font-size: calc(10px + 1vw);
    color: #000000;
    padding: 0 0 0 0;
    line-height: 2;
    margin: 0 0 15px 0;
}


.h3_reversecolor{
    color: #f1787c;
    text-shadow: 3px 3px 8px #000000;
}

/* USERS PAGE ---------------------------------------------------------------------------- */
#usersPage {
    display: none;
}

#usersTable td:nth-child(6) {
    width: 5%;
}


/* LESSONS PAGE -------------------------------------------------------------------------- */
#lessonsPage {
    display: none;
}

    /* LESSONS SIDEBAR -------------------------------------------*/
    #sidebar {
        font-family: 'Inter', sans-serif;
        height: 100%;
        width: calc(170px + 3vw);
        position: fixed;
        margin-left: calc(-170px + -3vw);
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #f1787c;
        overflow-x: hidden;
        transition: 0.5s;
    }
    
    #sidebar h1{
        text-align: center;
    }

    #sidebar p {
        cursor: pointer;
        padding: 8px 0px 8px calc(15px + 1vw);
        font-size: 20px;
        display: block;
        transition: 0.3s;
        flex: 3;
        margin-block-start: 10px;
        margin-block-end: 10px;
        word-break: break-word;
    }
    
    #sidebar p:hover {
        background-color:#f5a7aa;
    }

    .active {
        background-color: #c05357;
        color:white;
    }

    .sidebarLesson {
        display: flex;
    }

    /* VIEW LESSON -------------------------------------------*/
    #viewLessons{
        display: none;
        flex: 5;
        transition: 0.5s;
    }

    #toEditTopicBtn, #toDeleteTopicBtn{
        float: right;
    }
    
    h4{
        text-align: center;
    }
    
    /* jQuery Tabs ------------------------------------------ */
    .ui-tabs-vertical .ui-tabs-nav { 
        float: left; 
        width: calc(7em + 5vw); 
        height: 100%;
        margin-right: 2em;
    }
    
    .ui-tabs-vertical .ui-tabs-nav li { 
        clear: left; 
        width: 100%; 
        border-bottom-width: 1px !important; 
        border-right-width: 0 !important; 
    }
    
    .ui-tabs-vertical .ui-tabs-nav li a { 
        display:block; 
    }
    
    .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
        border-right-width: 1px; 
    }
    
    .ui-tabs-anchor {
        width: -webkit-fill-available;
    }
    
    .ui-button{
        margin: 0.5vw;
        padding: 0.5em;
        width: -moz-fit-content;
        width: fit-content;
    }
    
    .ui-widget-header .ui-state-active {
        background:#1d6968;
        border: 1px solid black;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
        background: #c05357;
        border: 1px solid #c05357;
    }

    /* DELETE LESSON -------------------------------------------*/
    .lessonDeleteBtn {
        background: url("images/delete.avif") no-repeat center;
        border: none;
        flex: 1;
        padding: 0;
        margin-block-start: 10px;
        margin-block-end: 10px;
    }

    .lessonDeleteBtn:hover{
        background-color:#FF0000;
    }

    /* ADD LESSON -------------------------------------------*/
    #lessonAddBtn{
        width: -webkit-fill-available;
        background: #eae8e1;
        color: #000000;
        text-transform: uppercase;
        border-radius: 15px;
        border: 2px solid #c05357; 
        margin: 20px 10% 0 10%;  
    }

    #lessonAddBtn:hover{
        background: #e0ded1;
    }

    .dialogForm {
        margin: 0;
        padding: 0;
    }

    #lessonErrorMsg{
        display: none;
        margin: 0;
    }

    #addLessonDialog #lessonErrorMsg
    { 
        border: 1px solid transparent;
        padding: 0.3em;
        font-size: medium;
    }

    #addLessonDialog label, #addLessonDialog input { 
        display:block; 
    }
    #addLessonDialog input.text { 
        margin-bottom:12px;
        width:95%;
    }
    #addLessonDialog fieldset { 
        padding:0; border:0;
        margin-top:15px; 
    }
    #addLessonDialog h1 { 
        font-size: 1.2em;
        margin: .6em 0; 
    }
    .ui-dialog .ui-state-error {
        padding: .3em; 
    }
    .ui-dialog .ui-dialog-titlebar{
        background-color: #f08080;
    }

    /* ADD TOPIC -------------------------------------------*/
    #addTopicForm {
        display: none;
    }

    #toAddTopicBtn { 
        background: #ffffff;
        color: #000000;
        text-transform: uppercase;
        border-radius: 15px;
        border: 2px solid #f1787c; 
        margin: 12px 0 12px 7px;
        padding: 10px;
        font-size: 17px;
    }

    #toAddTopicBtn:hover{
        background: #d2cec0;
    }

    #addTopicForm input[type="text"]{
        width: 50%;
        padding: 10px 0 10px 20px;
    }

    .trumbowyg-editor{
        background-color: #ffffff;
    }

    /* EDIT TOPIC -------------------------------------------*/
    #editTopicForm {
        display: none;
    }

    #toEditTopicBtn { 
        background: #ffffff;
        color: #000000;
        text-transform: uppercase;
        border-radius: 15px;
        border: 2px solid #f1787c; 
        margin: 12px 5px 12px 10px;
        padding: 10px;
        font-size: 17px;
    }

    #toEditTopicBtn:hover{
        background: #d2cec0;
    }

    /* DELETE TOPIC -------------------------------------------*/

    #toDeleteTopicBtn { 
        background: #ff0000;
        color: #ffffff;
        text-transform: uppercase;
        border-radius: 15px;
        margin: 12px 10px 12px 10px;
        padding: 10px;
        font-size: 17px;
    }

    #toDeleteTopicBtn:hover{
        background: #aa0606;
    }

/* DICTIONARY PAGE ------------------------------------------------------------------------*/
#dictionaryPage {
    display: none;
}

    .pane {
        margin: 1vw 1vw 1vw 2vw;
        width: -webkit-fill-available;
        font-family: 'Inter', sans-serif;
    }

    .pane h2{
        margin: 0;
    }

    .pane button{
        margin-left: 0;
        font-size: calc(5px + 0.7vw);
    }

    /* WORD TABLE -------------------------------------------*/
    table{
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    th{
        font-size: calc(5px + 1vw);
        padding: 10px;
    }

    td{
        font-size: calc(7px + 0.5vw);
        padding: 0.5vw 0.3vw;
    }

    td:first-child{
        width: 15%;
    }

    td:nth-child(6){
        width: 25%;
    }

    td:last-child{
        width: 20%;
    }

    .trHover:hover{
        background-color: #f1787c56 !important;
    }

    tr:nth-child(even){
        background-color: #f0e3d7;
    }

    tr td:last-child form{
        display: inline-block;
    }

    /* DELETE AND EDIT BUTTONS -------------------------------*/
    .tableEditButton, .tableDeleteButton{
        border: none;
        width: 32px;
        height: 32px;
        padding: 5px;
    }

    .tableEditButton{
        background: url("images/edit.avif") no-repeat center;
        
    }
    .tableDeleteButton{
        background: url("images/delete.avif") no-repeat center;
    }

    .tableEditButton:hover{
        background-color:#f1787c;
    }

    .tableDeleteButton:hover{
        background-color:#ff0000;
    }

    /* ADD WORD DIALOG ------------------------------------------*/
    .dialogForm input[type="text"], .ui-selectmenu-button{
        display: block;
    }

    .dialogForm fieldset {        
        border: none;
    }

    #toAddWordBtn{
        background: #ffffff;
        color: #000000;
        text-transform: uppercase;
        border-radius: 15px;
        border: 2px solid #f1787c; 
        margin: 12px 0 20px 7px;
        padding: 10px;
        font-size: 17px;
    }

    #toAddWordBtn:hover{
        background: #d2cec0;
    }


/* ASSESSMENT PAGE -----------------------------------------------------------------------*/
#assessmentPage, #addAssessmentForm, #editAssessmentForm{
    display: none;
}

#addAssessmentForm fieldset, #editAssessmentForm fieldset{
    border: none;
}

.question {
    background-color: #7ea5a4;
    border-radius: 10px;
    padding: calc(5px + 1vw);
    margin: calc(5px + 1vw);
}

.group {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
}

.groupAddQuestion {
    justify-content: center;
}

.btnGroup {
    display: flex;
    justify-content: space-between;
}

.deleteQuestionBtn {
    float: right;
}

.ui-spinner-button{
    margin: 0;
}

#toAddAssessmentBtn, #cancelAddAssessmentBtn, 
#toAddMockTestBtn, #toAddWordBtn, 
#cancelAddMocktestBtn{
    background: #eae8e1;
    color: #000000;
    text-transform: uppercase;
    border-radius: 20px;
    border: 2px solid #f1787c;
}

#toAddAssessmentBtn:hover, #cancelAddAssessmentBtn:hover, 
#toAddMockTestBtn:hover, #toAddWordBtn:hover,
#cancelAddMocktestBtn:hover{ 
    background: #d2cec0;
}

#addAssessmentBtn, #addMockTestBtn{
    background: #f1787c;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
}

#addAssessmentBtn:hover, #addMockTestBtn:hover{
    background: #da5055;
}


/* MOCK TEST PAGE -----------------------------------------------------------------------*/
#mockTestPage, #addMockTestForm, #editMockTestForm{
    display: none;
}

#addMockTestForm fieldset, #editMockTestForm fieldset{
    border: none;
}

/* REPORTS PAGE -----------------------------------------------------------------------*/
#reportsPage {
    display: none;
}

#generateReport{
    background: #7ea5a4;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #000000;

}

#generateReport:hover{
    background: #1d6968;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #000000;

}


/* SETTINGS PAGE ------------------------------------------------------------------------*/
#settingsPage, #admin_profile_edit{
    display: none;
}
#admin_profile{
    margin: 50px 7% 0 7%;
}

.adminPane {
    margin: 50px 7% 0 7%;
    padding: 0 0 50px 0;
}

#toEditProfile, #toChangePass{
    background: #eae8e1;
    color: #000000;
    text-transform: uppercase;
    font-size: 12px;
    width: 15vw;  
    border-radius: 20px;
    border: 2px solid #f1787c;
    padding: 12px 0 12px 0;
    margin-right: 1vw;
}

#toEditProfile:hover, #toChangePass:hover{
background: #d2cec0;
}

.bday_category{
    width:300px;
}

form {
    margin: 50px 7% 0 7%;
    padding: 0 0 50px 0;
}

form input[type="text"], input[type="email"], input[type="date"], input[type="file"]{
    font-family: 'Inter', sans-serif;
    outline: 0;
    background: #cfcfcf;
    width: 100%;
    border: 0;
    padding: 15px 0px 15px 30px;
    margin: 7px 0 12px 0;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
}

form label{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.profile_icon{
    width: 150px;
    height: 150px;
    margin: 0 0 15px 0;
}

.ui-datepicker th {
    font-size: medium;
}

.ui-datepicker td {
    font-size: small;
}

#buttonGroup {
    margin: auto;
    width: -moz-fit-content;  
    width: fit-content;
    margin-top: 20px;
}

#saveBtn, #changePassBtn{
    background: #f1787c;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    width: 30vw;  
    border-radius: 20px;
    border: none;
    padding: 12px 0 12px 0;
    margin-left: 1vw;
}

#saveBtn:hover, #changePassBtn:hover{
    background: #da5055;
}

#cancelBtn, #cancelPassBtn{
    background: #eae8e1;
    color: #000000;
    text-transform: uppercase;
    font-size: 15px;
    width: 30vw;  
    border-radius: 20px;
    border: 2px solid #f1787c;
    padding: 12px 0 12px 0;
    margin-right: 1vw;
}

#cancelBtn:hover, #cancelPassBtn:hover{
    background: #d2cec0;
}

/* CHANGE PASSWORD AND DELETE ACCOUNT MODAL----------- */
#pass-dialog-form #passErrorMsg
{ 
    border: 1px solid transparent;
    padding: 0.3em;
    font-size: medium;
}

#pass-dialog-form label, #pass-dialog-form input { 
    display:block; 
}
#pass-dialog-form input.text { 
    margin-bottom:12px; width:95%; padding: .4em; 
}
#pass-dialog-form fieldset { 
    padding:0; border:0; margin-top:25px; 
}
#pass-dialog-form h1 { 
    font-size: 1.2em; margin: .6em 0; 
}
.ui-dialog .ui-state-error {
     padding: .3em; 
}
.ui-dialog .ui-dialog-titlebar{
    background-color: #f08080;
}


/* Prevent jquery ui radio button from making the page go up */
input[type="radio"]{
    display:none;
}

/* LOADING MODAL-------------------------------------------------------------------------- */
.modal {
    display: none;
    line-height: 90vh;
    text-align: center;
    position:   fixed;
    z-index:    1000;
    top:        0;
    height:     100%;
    width:      100%;
    background: rgba(255, 255, 255, 0) 
                url('https://i.pinimg.com/originals/65/ba/48/65ba488626025cff82f091336fbf94bb.gif') no-repeat center center;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

/* DIALOGS -------------------*/
.dialog p{
    text-align: center;
}