html {
    height: 100%;
    visibility: hidden;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

/* FOR THE SIDEBAR */

.container_left {
    height: 100%; 
    flex: 1;
    width: 100px; 
    background-color:#f1787c;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    z-index: 2;
}

.menu_categories_icons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.menu_categories:hover{
    background-color: #da5055;
}


/* FOR THE CONTENT */

.container_right{
    margin: 0 0 0 100px;
    flex: 4;
    background-color: #eae8e1;
    overflow-y: scroll;
}

.homeHeader1{
    font-family: 'Dosis', sans-serif;
    font-size: 5.5vw;
    color: #ffffff;
    display: block;
    padding: 100px 0 100px 0px;
    margin: 0 0 0 5vw;
    text-align: left;
}

.homeHeader2{
    font-family: 'Dosis', sans-serif;
    font-size: calc(10px + 2vw);
    color: #000000;
    padding: 0;
    margin: 15px 0 0 0;
}

.h2_reversecolor{
    color: #ffffff;
}

p{
    font-family: 'Inter', sans-serif;
    font-size: calc(5px + 1vw);
    color: #000000;
}

.p_reversecolor{
    color: #ffffff;
}

.homeHeader3{
    font-family: 'Dosis', sans-serif;
    font-size: calc(10px + 1vw);
    color: #000000;
    padding: 0;
    margin: 0;
}


.h3_reversecolor{
    color: #f1787c;
    text-shadow: 3px 3px 8px #000000;
}

.home_icons{
    width: calc(100px + 10vw);
    height: calc(100px + 10vw);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home_content{
    display: flex;
    flex-wrap: wrap;
}

.home_content1 > * {
    flex: 1 1 50%;
}

.home_content_left{
    flex: 1;
    margin: 5vw;
    min-width: 270px;
}

.home_content_right{
    flex: 1;
    margin: 5vw;
}

.home_image1{
    min-width: 100%;
    height: auto;
    background-image: url(images/home_image1.avif);
    background-size: cover;
}

.home_image2{
    min-width: 100%;
    height: auto;
    background-image: url(images/home_image2.avif);
    background-size: cover;
}

.home_image3{
    min-width: 100%;
    height: auto;
    background-size: cover;
    background-image: url(images/home_image3.avif);
}

.home_button{
    background: #f1787c;
    color: #ffffff;
    text-transform: uppercase;
    font-size: calc(7px + 0.4vw);
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 20px;
    border: none;
    padding: 12px 3vw 12px 3vw;
    margin: 0;
}

.home_button:hover{
    background: #da5055;
}

#profilePage {
    display: none;
}

.pane {
    margin: 50px 7% 0 7%;
    padding: 0 0 50px 0;
}

form {
    margin: 50px 7% 0 7%;
    padding: 0 0 50px 0;
}

form input[type="text"], input[type="email"], input[type="date"], input[type="file"]{
    font-family: 'Inter', sans-serif;
    outline: 0;
    background: #cfcfcf;
    width: 100%;
    border: 0;
    padding: 15px 0px 15px 30px;
    margin: 7px 0 12px 0;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
}

/* form input[type="radio"], input[type="date"]{
    margin-top: 10px;
    margin-right: -10px;
    padding-left: 15px;
} */

.bday_category{
    width:300px;
}

form label{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.profile_icon{
    width: 150px;
    height: 150px;
    margin: 0 0 15px 0;
}

#buttonGroup {
    margin: auto;
    width: -moz-fit-content;  
    width: fit-content;
    margin-top: 20px;
}

#saveBtn, #changePassBtn{
    background: #f1787c;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    width: 30vw;  
    border-radius: 20px;
    border: none;
    padding: 12px 0 12px 0;
    margin-left: 1vw;
}

#saveBtn:hover, #changePassBtn:hover{
    background: #da5055;
}

#cancelBtn, #cancelPassBtn{
    background: #eae8e1;
    color: #000000;
    text-transform: uppercase;
    font-size: 15px;
    width: 30vw;  
    border-radius: 20px;
    border: 2px solid #f1787c;
    padding: 12px 0 12px 0;
    margin-right: 1vw;
}

#cancelBtn:hover, #cancelPassBtn:hover{
    background: #d2cec0;
}

#student_profile_edit{
    display: none;
}

.updateErrorMsg, #updateSuccessMsg{
    display: none;
    background-color: #f08080;
    padding: 0.5em;
    border: 1px solid red;
    border-radius: 20px;
    color: white;
    text-align: center; 
}

#updateSuccessMsg {
    background-color: #00A878;
    border: 1px solid #388659;
}

#changePasswordForm {
    display: none;
}

/* CHANGE PASSWORD AND DELETE ACCOUNT MODAL */
.dialogForm {
    margin: 0;
    padding: 0;
}

#pass-dialog-form #passErrorMsg
{ 
    border: 1px solid transparent;
    padding: 0.3em;
    font-size: medium;
}

#pass-dialog-form label, #pass-dialog-form input { 
    display:block; 
}
#pass-dialog-form input.text { 
    margin-bottom:12px; width:95%; padding: .4em; 
}
#pass-dialog-form fieldset { 
    padding:0; border:0; margin-top:25px; 
}
#pass-dialog-form h1 { 
    font-size: 1.2em; margin: .6em 0; 
}
.ui-dialog .ui-state-error {
     padding: .3em; 
}
.ui-dialog .ui-dialog-titlebar{
    background-color: #f08080;
}

/* LESSONS PAGE */
#lessonsPage {
    display: none;
}
#sidebar {
    height: 100%;
    width: calc(170px + 3vw);
    position: fixed;
    margin-left: calc(-170px + -3vw);
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1787c;
    overflow-x: hidden;
    transition: 0.5s;
}
  
#sidebar h1{
    text-align: center;
}
#sidebar p {
    cursor: pointer;
    padding: 8px 0px 8px 0px;
    text-align: center;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}
  
#sidebar p:hover {
    background-color:darkgrey;
    color: #f1f1f1;
}

#tabs{
    display: none;
    flex: 5;
}

.ui-tabs-vertical .ui-tabs-nav { 
    float: left; 
    width: calc(7em + 5vw); 
    height: 100%;
    margin-right: 2em;
}

.ui-tabs-vertical .ui-tabs-nav li { 
    clear: left; 
    width: 100%; 
    border-bottom-width: 1px !important; 
    border-right-width: 0 !important; 
}

.ui-tabs-vertical .ui-tabs-nav li a { 
    display:block; 
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
    border-right-width: 1px; 
}

.ui-tabs-anchor {
    width: -webkit-fill-available;
}

/* LOADING MODAL */
.modal {
    display: none;
    line-height: 90vh;
    text-align: center;
    position:   fixed;
    z-index:    1000;
    top:        0;
    height:     100%;
    width:      100%;
    background: rgba(255, 255, 255, 0) 
                url('https://i.pinimg.com/originals/65/ba/48/65ba488626025cff82f091336fbf94bb.gif') no-repeat center center;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}